<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>Application AngularJS</title>

    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">

    
  </head>

<body ng-controller="LoginCtrl">
<main class="slide">
    <div class="container">
        <div class="col-md-6">
          <section class="section-logo">
              <header>
                    <figure>
                        <img src="assets/images/logoAppVertical.png" class="img-responsive" title="Logo Samu" alt="Imagem da Logo Samu">
                    </figure>
              </header>
          </section>
        </div>
        <div class="col-md-6">
          <section class="section-form">
            <div class="form">
              <form  role="form">
                  <input ng-model="user.email" autocomplete="off" type="email"  placeholder="Email address" required="" autofocus="">
                  <input ng-model="user.password" autocomplete="off" type="password"  placeholder="Password" required="">
               <div class="buttons">
                <!--   <button id="logout" type="button" ng-click="SignOut($event)" style="display:none;">SignOut</button> -->
                  <a href="#"><button id="" class="btn btn-default" type="button" ng-click="">Sign Up</button></a>
                  <button type="button" class="btn btn-default" ng-click="SignIn($event)">Sign In</button>
               </div>
              </form>
            </div>
          </section>
        </div>
    </div>
</main>
</body>
</html>
