    <div class="container">
      <div class="jumbotron" style="padding-bottom:0px;">
        <h2 style="text-align: center;">Application AngularJS</h2>
      </div>
      <form role="form">
        <input ng-model="user.email" type="email"  placeholder="Email address" required="" autofocus="">
        <input ng-model="user.password" type="password"  placeholder="Password" required="">
        <label class="checkbox">
          <button id="logout" type="button" ng-click="SignOut($event)" class="btn btn-action hide">SignOut</button>
          <a href="#"><button id="" type="button" ng-click="" class="btn btn-lg btn-success btn-block">SignUp</button></a>
        </label>
        <button type="button" ng-click="SignIn($event)" class="btn btn-lg btn-primary btn-block">SignIn</button>
      </form>