@font-face {
     font-family: helveticaneue;
     src: url('HelveticaNeueLTStd-UltLt.otf');
}

.slide {
	background-image: url('../images/welcomeSite.png');
	background-repeat: no-repeat;
	padding-bottom: 14px;
}

.section-logo {
	height: 960px;
	
}
.section-logo figure img {

    margin-left: -100px; 
    margin-top: -100px;     
    position: absolute;
    top: 50%;
    left: 50%;
  

}

.section-form {
	height: 960px;
	width: 500px;
}

.form {
	position: absolute;
    top: 50%;
    left: 50%;
}
.form form input[type=email],
input[type=password] {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid black;
	margin: 10px;
    padding: 10px;


}
.form form input[type=email]:focus {
	background-color: transparent;
	border: none;

}
::-webkit-input-placeholder {
   color: black;
   font-style: italic;
   font-size: 18px;
   font-family: Arial;
}


